@import "tailwindcss";

:root {
  --bg-div: #103931;
  --light-color: rgba(16, 57, 49, 0.2);
  --hover-color: #0d2b26;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #11101c;
  background-color: #f3f3f3;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}
